In [7]:
l1 = [ "Shahrukh",23 , True , 6.0] # in=ndex strts from 0
print(l1)

['Shahrukh', 23, True, 6.0]

In [9]:
l1

['Shahrukh', 23, True, 6.0]

In [10]:
l1[2] # positive index starts from 0 (left to right)

True

In [13]:
l1[-3] #negative index starting from -1 ( right to left )

23

In [14]:
len(l1) # count number of elements

4

In [15]:
l1

['Shahrukh', 23, True, 6.0]

In [18]:
l1[1] =100
l1

['Shahrukh', 100, True, 6.0]

In [19]:
l1[-1] =1000
l1

['Shahrukh', 100, True, 1000]

In [22]:
l1[4] # index value is out of range

IndexError: list index out of range

In [30]:
i = 0 # starting index
while  i < len (l1)-1: # check login with index 
        print(l1[i])
        i += 1 # increment / Decremet

Shahrukh
100
True

In [28]:
for e  in l1:
    print(e)

Shahrukh
100
True
1000

In [32]:
l2 = [4,2,8,6,10]
l2

[4, 2, 8, 6, 10]

In [33]:
sorted(l2)

[2, 4, 6, 8, 10]

In [34]:
sorted(l2,reverse=(True)) # DESENDING ORDER

[10, 8, 6, 4, 2]

In [35]:
l2

[4, 2, 8, 6, 10]

In [43]:
l2=sorted(l2)#In memory

In [44]:
l2

[2, 4, 6, 8, 10]

In [45]:
range (start , end, step)#Generate function
start = include 
end = exclude
step =sequence

NameError: name 'start' is not defined

In [46]:
range(1,11)

range(1, 11)

In [48]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [49]:
list (range(0,101,10))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [53]:
list(range(25,251,25))

[25, 50, 75, 100, 125, 150, 175, 200, 225, 250]

In [54]:
chr(65) #for number to alphabet

'A'

In [55]:
ord('b')#for alphabet to number

98

In [71]:
l1 = list (range(65, 87))

In [73]:
for e in l1:
    print(chr (e) )

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V

In [69]:
tuple(map(chr, l1))

('A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V')

In [74]:
l1 = list(range(1,11))
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [75]:
list(map(float, l1))# map(function_name, list)

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]

In [80]:
l1 = list(range(98,133))

In [ ]:
#SLICING
#obj[start : end : step]
# start include 
#end exclude 
#Step = sequence

In [81]:
l1 = list(range(1,11))
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [82]:
#extract top five elements 
l1[0:5] # left to right if step +
#right to left if step -

[1, 2, 3, 4, 5]

In [88]:
l1 = list(map(chr, list(range(65,91))))
print(*l1, sep=" ")

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [93]:
l1[0:26]

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [91]:
l1[1:1]

[]

In [95]:
l1[0]
#l1[:]
#l1[::]
#l1[0::]
#l1[-26:]
#l1[-26::]

'A'

In [96]:
l1[::-1]

['Z',
 'Y',
 'X',
 'W',
 'V',
 'U',
 'T',
 'S',
 'R',
 'Q',
 'P',
 'O',
 'N',
 'M',
 'L',
 'K',
 'J',
 'I',
 'H',
 'G',
 'F',
 'E',
 'D',
 'C',
 'B',
 'A']

In [97]:
l1[::2]

['A', 'C', 'E', 'G', 'I', 'K', 'M', 'O', 'Q', 'S', 'U', 'W', 'Y']

In [98]:
l1[5:]

['F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [99]:
l1[:2] + l1[-3:] #inline operation

['A', 'B', 'X', 'Y', 'Z']

# LIST Comprehensive

In [100]:
for e in l1: #e =element , list= l1 
    print(e)

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [108]:
a = 5
if a==5:
    print('Pakistan')
else
    print('China')

SyntaxError: invalid syntax (<ipython-input-108-48819e92ccc0>, line 4)

In [109]:
x*2 for x in range(1,1001):

SyntaxError: invalid syntax (<ipython-input-109-0081283888d8>, line 1)

In [118]:
x=2
for x==1
['{} X {} = x '] ,x

SyntaxError: invalid syntax (<ipython-input-118-1eadb9c11879>, line 2)

In [119]:
{x for x in range (1,11)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [122]:
dir(l1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [123]:
dir(l1)[:35]

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [124]:
l1.__contains__

In [ ]:
make an dienamic metho